<% layout("/layouts/boilerplate") %>
<body>
  <div >
    <div class=" w-[96%] mx-auto flex flex-wrap items-center justify-center bg-[#5a2e7c]">
      <% allMovies.map((m)=>{ %>
        <!-- each movie details -->
      <a href="/movies/<%=m._id%>">
        <div class="border-2 w-[200px] h-[300px] overflow-hidden flex flex-col items-center m-2 bg-white shadow-lg rounded-lg">
          <!-- Image Container -->
          <div class="w-full h-[200px] flex items-center justify-center overflow-hidden rounded-lg">
            <img class="w-full h-full object-cover transition-all duration-300 rounded-lg cursor-pointer filter grayscale-0 hover:grayscale" src="<%= m.url %>" alt="image description"/>
          </div>
  
          <!-- Content -->
          <h3 class="mt-3 text-center text-[1.2rem]"><%= m.title %></h3>
          <p class="text-sm text-gray-600">⭐ <%= m.rating %> | <%= m.year %></p>
        </div>
      
      </a>
  
      <% }) %>
    </div>

  </div>

</body>
