<% layout("/layouts/boilerplate") %>

<body >
  <div
    class="w-[96%] mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md:flex"
  >
    <div class="flex justify-center items-center p-5">
        <img src="<%= movie.url%>" alt="<%= movie.title %>" class="max-h-[35rem] max-w-full rounded-lg">
    </div>

    <div class="mt-5 flex flex-col justify-center p-5">
      <div class="px-5 pb-5 md :mt-10">
        <a href="#">
          <h5
            class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
          >
            <%= movie.title %>
          </h5>
        </a>
        <div class="flex items-center mt-2.5 mb-5">
          <div class="flex items-center space-x-1 rtl:space-x-reverse">
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 20"
            >
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
              />
            </svg>
          </div>
          <span
            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
            ><%= movie.rating %></span
          >
        </div>
        <div class="flex items-center justify-between">
          <span class="text-3xl font-bold text-gray-900 dark:text-white"
            ><%= movie.releaseYear %></span
          >
          <!-- <a
            href="#"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Like
          </a> -->
        </div>
      </div>
      <div style="padding: 2rem">
        <h3><b>Genre :</b>&nbsp;&nbsp;<%= movie.genre %></h3>
        <h3><b>Director :</b>&nbsp;&nbsp;<%= movie.director %></h3>
        <h3><b>Cast :</b>&nbsp;&nbsp;<%= movie.cast %></h3>
        <h3><b>Duration :</b>&nbsp;&nbsp;<%= movie.duration %> minutes</h3>
        <h3><b>Synopsis :</b>&nbsp;&nbsp;<%= movie.synopsis %></h3>
        <br /><br />
        <div class="flex items-center justify-around">
        
            <a href="/movies/<%=movie._id %>/edit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>
    
            <form action="/movies/<%=movie._id %>?_method=DELETE" method="POST">
              <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                
                Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
